{% extends "base.html" %}

{% block content %}
  <h2>Add New Food</h2>
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.name.label }}
      {{ form.name(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.description.label }}
      {{ form.description(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.image.label }}
      {{ form.image(class="form-control") }}
    </div>

    {{ form.submit(class="btn btn-success") }}
  </form>



{% endblock %}
